<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
             /* Email styles need to be inline */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function initButtons(){
                console.log("hi");
                $('.my_button').click(function() {
                    console.log("hi 2");
                    alert("Presionaste");
                    console.log("hi 3");
                    alert($(this).val());
                    console.log("hi 4");
                })
            }

            // new initButtons()
        </script>
    </head>

    <body>
    <h1> Estado Actual</h1>
    <h2>Secuencia:  </h2><h3><%= @titulo %></h3>
    <h2>Alerta:     </h2><h3><%= @status %></h3>
        <a class="my_button" value="" href=<%= alert_path %>>Alert</a>
    <% @data.each do |dat| %>
        <a class="my_button" value="" href=<%= serie_path(dat.id) %>><%= dat.titulo %></a>
    <% end %>
        <a class="my_button" value="" href=<%= serie_path("Rojo") %>>Red</a>
        <a class="my_button" value="" href=<%= serie_path("Azul") %>>Blue</a>
        <a class="my_button" value="" href=<%= serie_path("Friends") %>>Friends</a>
        <a class="my_button" value="" href=<%= serie_path("Blanco") %>>Rainbow</a>
    </body>

</html>